<web-app>

<servlet>
<servlet-name>hello</servlet-name>
<servlet-class>EmployeeRegistration</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>hello</servlet-name>
<url-pattern>/ereg</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>hello1</servlet-name>
<servlet-class>EmployeeValidate</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>hello1</servlet-name>
<url-pattern>/empval</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>hello2</servlet-name>
<servlet-class>LeaderRegistration</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>hello2</servlet-name>
<url-pattern>/leareg</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>hello3</servlet-name>
<servlet-class>ManagerRegistration</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>hello3</servlet-name>
<url-pattern>/manreg</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>hello4</servlet-name>
<servlet-class>LeaderValidate</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>hello4</servlet-name>
<url-pattern>/leaval</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>hello5</servlet-name>
<servlet-class>ManagerValidate</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>hello5</servlet-name>
<url-pattern>/manval</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>hello6</servlet-name>
<servlet-class>EmployeeRequest</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>hello6</servlet-name>
<url-pattern>/empreq</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>hello7</servlet-name>
<servlet-class>Leader_Accept</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>hello7</servlet-name>
<url-pattern>/set</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>hello8</servlet-name>
<servlet-class>Manager_Accept</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>hello8</servlet-name>
<url-pattern>/get</url-pattern>
</servlet-mapping>












</web-app>